.App {
  font-family: sans-serif;
  padding: 2rem;
}
.sources label {
  display: block;
  margin-bottom: .25rem;
}
.news-item {
  margin-top: .5rem;
  opacity: 0;
  animation: fade-in .5s forwards;
}

.news-item img {
  max-width: 100%;
  display: block;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
